<form action="/add/todo" class="d-flex " method="POST">
    <input type="text" name="todo" class="form-control shadow mb-5 bg-body" placeholder="Enter task">
    <input type="submit" value="Add" class="btn btn-md btn-primary mx-2 shadow mb-5">
</form>